@use "@material/button";
@use "@material/button/styles" as button-styles;
@use "@material/layout-grid/mdc-layout-grid";
@use "@material/top-app-bar";
@use "@material/top-app-bar/mdc-top-app-bar";
@use "@material/form-field";
@use "@material/checkbox";
@use "@material/drawer";
@use "@material/list";
@use "@material/typography/mdc-typography";
@use "@material/switch/styles" as switch-styles;
@use "@material/icon-button";
@use "@material/icon-button/styles" as icon-button-styles;
@use "@material/snackbar";
@use "@material/snackbar/mdc-snackbar";
@use "@material/linear-progress";

@include checkbox.core-styles;
@include form-field.core-styles;
@include drawer.core-styles;
@include drawer.dismissible-core-styles;
@include drawer.modal-core-styles;
@include list.deprecated-core-styles;
@include linear-progress.core-styles;

:root {
  --mdc-typography-font-family: "Lekton";
  --mdc-theme-primary: #4b4b4b;
  --mdc-theme-secondary: #41b6a3;
  --mdc-theme-background: #232323;
  --mdc-theme-on-primary: #ffffff;
  --mdc-theme-on-secondary: #ffffff;
  --mdc-layout-grid-margin-desktop: 12px;
  --mdc-layout-grid-margin-tablet: 12px;
  --mdc-layout-grid-margin-phone: 4px;
}

.mdc-button {
  @include button.icon-color(("disabled": rgba(255,255,255,0.25)));
  @include button.ink-color(("disabled": rgba(255,255,255,0.25)));
}

.mdc-icon-button {
  @include icon-button.disabled-ink-color(rgba(255,255,255,0.25));
}

.mdc-top-app-bar {
  @include top-app-bar.fill-color($color: transparent);
}

.mdc-snackbar {
  @include snackbar.fill-color($color: #41b6a3);
}

.mdc-linear-progress {
  @include linear-progress.bar-color($color: #41b6a3);
  @include linear-progress.buffer-color($color: rgba(65, 182, 163, 0.25));
}

body {
  background-color: #232323;
  color: #fff;
  margin: 0;
  padding: 0;
}

canvas#a, video {
  width: 100%;
}

video {
  background-color: #000;
}

video#player, video#user {
  height: 320px;
  max-height: 320px;
}

.record-button i {
  color: red;
}

.fixated {
  border: 1px solid orange;
}

#canvas-ctrl {
  display: flex;
  align-items: center;
}

#canvas-ctrl img {
  vertical-align: middle;
}

#canvas-ctrl a, #canvas-ctrl a:link, #canvas-ctrl a:visited, #canvas-ctrl a:hover, #canvas-ctrl a:active {
  border-bottom: none;
}

input[type='range'] {
  flex: 1;
  -webkit-appearance: none;
  background-color: #757575;
  height: 3px;
  -webkit-transition: height ease-in 100ms;
  margin-left: 1em;
  margin-right: 1em;
}

input[type='range']:hover {
  height: 12px;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 20%;
  background-color: #444;
  width: 10px;
  height: 20px;
}

#start {
  margin-left: 1em;
}

#total-time {
  color: #757575;
}

/* drag and drop */
#drop {
  -webkit-user-select: none;
  cursor: default;
  border: 1px dashed #363636;
  text-align: center;
  padding: 3em 1.5em;
}

#drop.dragover {
  background-color: #aaa;
}

.draggable {
  -webkit-user-select: none;
  cursor: default;
}

progress {
  -webkit-appearance: none;
  width: 100%;
  height: 3px;
  vertical-align: top;
}

progress::-webkit-progress-bar {
  background-color: #757575;
}

progress::-webkit-progress-value {
  background-color: #b91f1f;
}
